In [12]:
import pandas as pd
from datetime import datetime
from decimal import Decimal

df = pd.read_excel('Interview Test.xlsx', 
                   usecols=['committee_id',
                            'committee_name',
                            'report_year',
                            'report_type',
                            'contributor_name',
                            'contributor_occupation', 
                            'contributor_amount'
                        ]
                )
df.dtypes

# todo: change report_type to enum

df.astype({
    'committee_id': 'str',
    'committee_name': 'str',
    'report_year':  'int',
    'report_type': 'str',
    'contributor_name': 'str',
    'contributor_occupation': 'str',
    'contributor_amount': 'float'
})

df.dtypes
# Remove all the duplicate rows
df.drop_duplicates(inplace=True)

# Check the zero amounts and then drop those rows
df = df[df['contributor_amount'] > 0]

df

# Add a column for contributor id

,committee_id,committee_name,report_year,report_type,contributor_name,contributor_occupation,contributor_amount
1,C00580100,"DONALD J. TRUMP FOR PRESIDENT, INC.",2017,Q2,"RUSK, KEN",SELF-EMPLOYED,300.00
2,C00580100,"DONALD J. TRUMP FOR PRESIDENT, INC.",2017,Q1,"SHEPPARD, JAMES",INFORMATION REQUESTED,51.13
4,C00580100,"DONALD J. TRUMP FOR PRESIDENT, INC.",2017,Q1,"PARSONS, NATALIE",RETIRED,83.97
5,C00580100,"DONALD J. TRUMP FOR PRESIDENT, INC.",2017,Q2,"SHAFFER, JOYCE",RETIRED,25.00
6,C00580100,"DONALD J. TRUMP FOR PRESIDENT, INC.",2017,Q2,"SHAFFER, JOYCE",RETIRED,60.00
...,...,...,...,...,...,...,...
10727,C00580100,"DONALD J. TRUMP FOR PRESIDENT, INC.",2018,YE,"PENNINGTON, CHRISTOPHER",DONATION ATTENTION,355.00
10728,C00580100,"DONALD J. TRUMP FOR PRESIDENT, INC.",2018,Q3,"SUMMERS, CRAIG",OWNER,250.00
10729,C00580100,"DONALD J. TRUMP FOR PRESIDENT, INC.",2018,Q3,"WILSON, DIANA",RETIRED,210.00
10730,C00580100,"DONALD J. TRUMP FOR PRESIDENT, INC.",2018,YE,"PEARSON, JOANN",CASHIER,105.00
10731,C00580100,"DONALD J. TRUMP FOR PRESIDENT, INC.",2018,YE,"PEARSON, JOANN",CASHIER,140.00